* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  background: linear-gradient(135deg, #e66465, #9198e5);
  min-height: 100vh;
  color: white;
  padding: 10px;
}

.calculator {
  width: 90%;
  max-width: 600px;
  margin-left: 10%;
  margin-top: 10%;
}
.calculator h1 {
  font-size: 60px;
  text-shadow: 4px 2px #071072;
}

.input-box {
  margin: 40px 0;
  padding: 35px;
  border-radius: 10px;
  /* background: linear-gradient(135deg, #7b3849, #c61313 ); */
  background: #b22828;

  display: flex;
  align-items: center;
  box-shadow: 10px;
}

input {
  flex: 1;
  margin-right: 20px;
  padding: 14px 20px;
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
}

.input-box button {
  background: white;
  border: 0;
  outline: 0;
  padding: 14px 20px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.input-box button:hover {
  background: rgb(193, 160, 223);
}

#result {
  font-size: 18px;
  color: black;
  margin-left: 10px;
  font-weight: bold;
}
